<div class="row" id="user-info">
  <div class="user-icon">
    <%= image_tag("user-icon.png") %>
  </div>
  <div class="user-details bottom">
    <h4><%= current_user.username %></h4>
    <p><%= current_user.bio %></p>
  </div>
</div>
<hr>
