// Campaign show

#user-info {
  padding: 40px 0;

  .user-icon, .user-details  {
    display: inline-block;
    height: 100px;
    display: table-cell;
    vertical-align: bottom;
    padding-right: 20px;

    a {
      color: black;
    }

    p {
      margin-bottom: 0;
    }
  }

  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
}

#user-campaigns {
  padding: 20px 0 50px 0;

  h1 {
    color: $dark-grey;
    font-size: 32px;
    margin-bottom: 30px;
  }
}

#campaigns-footer {
  min-height: 120px;
  height: 100%;
}

.status {
  width: 100px;
  margin: 0 10px;
  border: 1px solid $med-grey;

  &.draft {
    background: whitesmoke;
    color: grey;
  }

  &.active {
    background: white;
    box-shadow: none;
  }

  &.closed {
    background: $med-grey;
    color: white;
  }
}

.campaigns-list {
  list-style-type: none;
  padding: 0;

  li.row {
    padding: 15px 20px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    background: white;

    a.campaign-name {
      font-size: 18px;
      color: $dark-grey;
    }

    span {
      &.draft {
        color: $yellow;
      }

      &.active {
        color: $turquoise;
      }

      &.closed {
        color: $pink;
      }
    }

    .status-icon {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: 80%;
      margin-right: 10px;

      &.draft {
        background-image: image-url('PT-status-draft.png');
      }

      &.active {
        background-image: image-url('PT-status-active.png');
      }

      &.closed {
        background-image: image-url('PT-status-closed.png');
      }
    }

    .modify {
      text-align: right;
      margin-top: 5px;
    }
  }
}

// Campaign view

ul.campaign-nav {
  display: block;
  border-bottom: 1px solid $light-grey;
  margin-right: 10%;
  padding: 0;
  margin: -20px 0 40px 0;
  padding-right: 10%;
  height: 45px;

  li {
    float: right;
    height: 44px;
    background: whitesmoke;
    border: 1px solid $light-grey;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
    padding: 0;
    top: 1px;
    position: relative;

    &:hover {
      border-color: $light-grey;
    }

    a {
      padding: 8px 16px 8px 14px;
      display: inline-block;
      vertical-align: middle;
    }

    img.process-icon {
      height: 30px;
      width: auto;
    }

    &.active-tab {
      background: white;
      top: 1px;
    }
  }
}

.section-header {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

#campaign-goals {
  padding-right: 60px;
}

#campaign-survey {
  #survey-body .modify {
    display: none;
  }
}

.question-group {
  background: whitesmoke;
  padding: 20px;
  border-radius: 4px;
}

.new-campaign-button {
  width: 50%;
  max-width: 200px;
  white-space: normal;
  height: auto;
  padding: 20px;
  font-size: 16px;

  .glyphicon {
    font-size: 200%; 
    display: block;
    margin: 8px 0;
  }
}

// Campaign Editor

body.dark {
  background: #333;

  .container {
    color: white;
    padding: 0 40px 40px 40px;
  }
}

.edit-title-button {
  color: grey;
  display: inline;
  margin: 0 10px;

  &:hover {
    color: #ababab;
    cursor: pointer;
  }
}

.campaign-title {
  color: $dark-turquoise;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 200;
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}

h2.title, h3.title {
  margin-top: 5px;
  display: block;
}

.tip-box {
  border-radius: 5px;
  background: $dark-turquoise;
  color: white;
  min-height: 40px;
  margin-top: 15px;
  padding: 15px;
  cursor: pointer;

  &:before {
    position: absolute;
    left: 5px;
    top: 25px;
    content: "\00a0";
    width: 10px;
    height: 15px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid $dark-turquoise;
  }

  .body {
    padding: 10px;
    display: none;
    font-weight: 200;
    border-top: 1px solid white;
    margin-top: 5px;
  }

  .header {
    padding: 0 10px;
    font-size: 14px;
  }
}

.top-save {
  margin: 45px 40px 0 0;
}

#campaign-goals-form.single-page {
  .form-group {
    margin-bottom: 35px;
  }
}

#campaign-goals-form, #campaign-launch-form {
  border-radius: 10px;
  color: black;
  background: white;
  padding: 40px;
  margin: 20px 0;

  label {
    font-size: 16px;
    display: block;
  }

  .explain {
    color: grey;
    font-size: 1.2em;
  }

  .form-page {
    display: none;
    min-height: 300px;
    position: relative;
    padding-bottom: 100px;

    .form-group {
      margin-bottom: 25px;
    }

    .button-group {
      position: absolute;
      width: 100%;
      bottom: 0px;

      .btn {
        margin: 0 100px;
        font-size: 18px;
      }
    }
  }

  #form-page-1 {
    display: block;

    .left-arrow {
      opacity: 0;
    }
  }
}

@media (max-width: 768px) {
  #user-info .user-icon img {
    width: 100px;
    height: 100px;
  }

  .new-campaign-button {
    margin-top: 10px;
  }

  ul.campaign-nav {
    padding-right: 0;

    .tab-text {
      display: none;
    }
  }
}