// Activity Graph

#activity-graph {
  height: 300px;
}

.axis {
  line {
    stroke: #eee;
    stroke-width: 1px;
  }

  text {
    fill: $med-grey;
  }
}

.x.axis path {
  display: none;
}

.activity-line {
  fill: none;
  stroke: $turquoise;
  stroke-width: 1.5px;
}

.axis path {
  display: none;
}

.point {
  fill: $turquoise;
}

//Camaign info

.survey-code {
  margin-left: 15px;
  border-bottom: 1px solid whitesmoke;
}

.campaign-info-box {
  width: 100%; 
  height: 230px;
  padding-right: 20px;

  label {
    display: block;
  }

  h1 {
    margin-bottom: 0;
    font-size: 40px;
  }

  #status-bars {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
  }

  .graph-bar {
    height: 30px;
    clear: both;
    text-align: left;
    color: black;

    p.status-label {
      padding: 4px 10px;
    }

    &.target {
      width: 100%;
      background: $dark-turquoise;
    }

    &.current {
      margin-right: 0;
      background: $turquoise;
    }
  }  
}

.section-light {
  background: whitesmoke;
  height: auto;
  padding: 20px;
  text-align: center;
}

.section-dark {
  background: $darkest-grey;
  padding: 20px;
  text-align: center;
  color: white;
  overflow: hidden;
}

.campaign-outreach {
  padding: 20px 0 25px 0;

   h3 {
    font-size: 18px;
    font-weight: 100;

  }
}

.social-share {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.share-bar {
  .social-share {
    width: 32px;
    height: 32px;
    margin: 10px 2px;
  }

  span {
    font-size: .8em;
    color: $dark-grey;
    padding: 0 5px;
  }
}

.buttons-only {
  span {
    display: none;
  }
}

.resource, a .resource {
  background: white;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 30px 10px 10px 10px;
  display: inline-block;
  text-align: center;
  color: black;
  vertical-align: top;
  font-weight: 200;
  font-size: 16px;
  position: relative;
  margin-bottom: 35px;

  i {
    font-size: 250%;
    display: block;
    margin-bottom: 15px;
  }

  .legend {
    color: #BABABA;
    font-weight: 200;
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
  }
}

// Response table
#response-listing {
  min-height: 650px;
  padding-top: 20px;
}

#response-table {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  border: 0px solid transparent;

  td, th {
    padding: 10px;
    column-width: auto;
    border-width: 0px;
  }

  tr {
    border-left: 10px solid white;
    cursor: pointer;
    border-bottom: 1px dotted #d7d7d7 !important;

    &.active {
      background: whitesmoke;
      border-left: 10px solid $turquoise;
    }

    td:last-child {
      padding-right: 30px;
    }

  }
}

#view-more {
  padding: 10px 20px;
}

.response-container-outer {
  background: white;
  border-radius: 4px;
  padding: 40px;
  position: aboslute;

  p.answer {
    margin-bottom: 25px;
  }

  img {
    width: 100%;
    height: auto;
  }

  &.popup {
    .response-container-inner {
      height: 300px;
      overflow: scroll;
    }
    
    -webkit-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.75);

    &:before {
      content: "\f057";
      font-family: FontAwesome;
      position: absolute;
      width: 15px;
      font-size: 15px;
      top: 10px;
      right: 15px;
      color: rgba(0, 0, 0, .5);
    }
  }
}