.devise {
  input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
}

.right-panel {
  width: 30%;
  float: right;
}

#error_explanation, #flash_alert {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;

  h2 {
    font-size: 18px;
    margin-top: 5px;
  }
}