* {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

a {
  color: $dark-turquoise;
  text-decoration: none !important;

  &:active, &:focus {
    color: $dark-turquoise;
  }

  &:hover {
    color: $turquoise;
  }
}

.pink {
  color: $pink;
}

.yellow {
  color: $yellow;
}

.turquoise {
  color: $turquoise;
}

.subtle {
  color: $med-grey;

  &:visited {
    color: $med-grey;
  }
}

.block {
  display: block;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

.box {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 20px;
}

.bottom {
  vertical-align: bottom;
}

.caps {
  text-transform: uppercase;
}

.container {
  width: 90%;
}

.grey {
  background: $light-grey;
}

.inline {
  display: inline-block !important;
}

.light {
  font-weight: 200;
}

.pad {
  margin: 10px;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.pad-side {
  padding: 0 10px;
}

.pad-top {
  padding-top: 10px;
}

.unpad-top {
  margin-top: -20px !important;
}

.pad-bottom {
  padding-bottom: 20px;
}

.margin-top {
  margin-top: 15px;
}

.section {
  width: 100%;
}

.partial {
  width: 80%;
}

.section-container {
  margin: 0 60px;
}

.upsize {
  font-size: 1.2em;
}

.margin-left {
  margin-left: 30px;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.auto-width {
  width: auto !important;
}

.btn {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;

  &.active, &:active {
    box-shadow: none;
    shadow: none;
    color: $turquoise;
  }

  &.closed {
    color: $pink;
  }

  &.draft {
    color: $yellow;
  }
}

.btn-slim {
  padding: 4px 12px;
}

.btn-info {
  background: $turquoise;

  &:hover {
    background: $dark-turquoise;
  }
}

.btn-warning {
  background: $pink;

  &:active, &:visited, &:focus {
    background: $pink;
    color: white;
  }


  &:hover {
    background: $dark-pink;
  }
}

.btn-warning-outline {
  border: 1px solid $pink;
  color: $pink;
}

.btn-bright {
  background: $yellow;

  &:hover {
    background: $dark-yellow;
  }
}

.btn-grey {
  color: #333333;
  background-color: #c8c8c8;
  border-color: #333333;
}

.btn-default {
  border: 1px solid $med-grey;
}

.spaced {
  letter-spacing: 1px;
}

.wrap {
  white-space: normal !important;
}

.modal-title {
  color: black;
}

.modal-header {
  background: whitesmoke;
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
}

/*===========================================
  Header
=============================================*/

#header {
  background: $dark-grey;
  height: 80px;
  color: white;
  position: relative;
  z-index: 10;
  padding: 0;

  .header-container {
    padding: 0 60px;
  }

  #branding {
    height: 40px;
    display: inline-block;

    img {
      width: auto;
      height: 100%;
      margin-right: 20px;
      vertical-align: top;
    }

    .site-title {
      margin: 0;
      font-weight: 100;
      padding-top: 5px;
      font-size: 28px;
    }
  }


// Collapsible menu

  .navbar-header, .navbar-collapse.collapse {
    padding-top: 20px;
  }

  .navbar-toggle {
    margin-right: 5px;
  }

  .icon-bar {
    color: whitesmoke;
    border: 1px solid whitesmoke;
  }

  .navbar-collapse.in, .navbar-collapse.collapsing {
    background: $dark-grey;
    margin: 0 -20px;
    padding-top: 10px;
  }

  .nav {
    margin: 10px 0;

    li {
      a, a:focus, a:hover {
        background-color: transparent;
        padding: 0px 14px 16px 14px;
      }

      a.btn {
        background-color: $turquoise;
        color: white;
        padding: 8px 14px;

        &:hover {
          background-color: $dark-turquoise;
        }
      }
    }
  }

  #user-menu {
    min-width: 160px;
  }

  #language-menu, #language-menu ul {
    min-width: 110px;
  }

  .dropdown-menu {
    background: $dark-grey;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;

    a {
      color: $light-grey;
      font-weight: 100;

      &:hover, &:active {
        color: $med-grey;
      }

      &.highlight {
        color: $med-grey;

        &:hover {
          color: #929292;
        }
      }
    }
  }

  .user-links {
    list-style-type: none;
    text-align: right;
    float: right;
    margin: 0;

    .user-icon {
      width: 40px;
      height: auto;
      border-radius: 50%;
      margin-right: 5px;
    }
  }


}

/*===========================================
  Flash & Error Messages
=============================================*/

#message {
  margin: 10px 0;
}

.error {
  color: $error;
  border-color: $error; 
}

.has-error {
  .message {
    color: $error;
    margin-top: 10px;
  }
}

.field_with_errors {
  * {
    border-color: $error;
  }
}

.alert {
  border: none !important;
}

.alert-success {
  color: $dark-turquoise;
  background: $light-turquoise;
}

.alert-danger {
  color: $error;
  background: $light-pink;
}

.monster {
  height: 250px;
  width: auto;
}

#flash-temporary, #flash-permanent {
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  position: relative;
}

.flash .close {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  font-size: 1.1em;
}

/*===========================================
  Surveys
=============================================*/

input, textarea, .dummy-input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.phantom-option .dummy-input {
  color: $light-grey;
}

input[type="checkbox"] {
  margin: 0 10px;
}

input[disabled], .form-control[disabled] {
  cursor: default;
}

/*===========================================
  Media queries
=============================================*/

@media (max-width: 768px) {
  #header {
    #branding {
      .site-title {
        font-size: 18px;
        padding-top: 10px;
      }

      img {
        width: 25px;
        height: auto;
        margin: 4px 10px 0 0;
      }
    }

    .navbar-toggle {
      margin-right: 0;
      padding: 5px 0;
    }

    .header-container {
      padding: 20px 20px 0 20px;
    }

    .user-links {
      padding: 0;
      margin-top: 10px;

      a.btn {
        margin: 0 15px 15px 0;
      }
    }

    .dropdown-menu {
      li {
        text-align: right;
      }
    }

    ul.nav #user-menu > ul.dropdown-menu {
      display: block;
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
    }
  }

  .section-container {
    margin: 0 20px;
  }
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  .open > .dropdown-menu {
    display: none;
  }

  #language-menu {
     a.dropdown-toggle {
      padding: 9px 14px 16px 14px !important;
    }
  }
}