.guides-container {
  width: 900px;
  margin: 0 auto;
}

.content-box {
  background: whitesmoke;
  border-radius: 4px;
  margin: 50px 30px;
  padding: 30px;
  min-height: 300px;
  text-align: center;

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
      margin: 10px 0;
    }
  }

  .title-section {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 100px;
      height: auto;
      border-radius: 50%;
    }

    h2 {
      margin: 5px 0;
      vertical-align: middle;
      line-height: normal;
      font-size: 26px;
    }
  }

  .sub-list {
    padding-top: 5px;

    li {
      margin: 0;
    }
  }
}

@media (max-width: 900px){
  .guides-container {
    width: 100%;
  }

  .content-box {
    margin: 50px 15px;
  }
}

@media (max-width: 768px){
  .content-box .title-section {
    text-align: center;
    line-height: normal;
    height: auto;

    h2 {
      margin-top: 10px;
    }
  }
}