/*===========================================
  Home Page
=============================================*/

.intro-block {
  #logo-wrapper {
    min-height: 20px;
  }

  .logo-overlay, #logo {
    width: 100%;
    max-width: 220px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
  }

  .overview-block {
    padding: 0 60px;
    font-size: 15px;
  }
}

.sign-up-block, .intro-block {
  padding: 40px 0;
}

.sign-up {
  font-size: 18px;
  margin-top: 30px;

  .btn {
    padding: 10px 20px;
  }
}

.process-block {
  padding: 25px 0 80px 0;

  p {
    text-align: justify;
    margin: 0 18px;
  }
}

.process-icon {
  width: 60px;
  height: auto;
}

.process-title {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

/*===========================================
  Download Page
=============================================*/

.download-container {
  margin-top: 40px;

  img.preview {
    margin: 10px auto;
    width: 160px;
    height: auto;
    display: block;
  }

  a {
    display: inline-block;
    margin: 0 20px;

    h3 {
      margin-top: 0;
      color: black;
      font-weight: 100;
    }

    img {
      display: block;
      width: auto;
      height: 38px;
    }
  }
}


/*===========================================
  Media queries
=============================================*/

@media (max-width: 992px) {

  .intro-block #logo-wrapper {
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
  }

  .intro-block .overview-block {
    padding: 0;
  }

  .process-block {
    .process-section {
      margin-bottom: 15px;
    }

    p {
      margin: 0;
    }
  }

  .sign-up {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro-block {
    padding: 20px 0;
    text-align: center;

    #logo-wrapper {
      margin: 0 auto;
    }

    .logo-overlay, #logo {
      max-width: 150px;
    }

    .sign-up {
      margin-top: 0;
    }
  }
}