@media print {

  * {
    page-break-after: avoid;
  }
  
  a:link:after {
    content: "";
  }

  #campaign-progress-container, ul.campaign-nav,
  .share,.report-options, .campaign-outreach, .filters {
    display: none;
  }

  #campaign-profile {
    margin-top: 30px;
  }

  .campaign-data #graph-viz {
    overflow: visible;
    height: auto;
    text-align: center;

    #report-graph-container {
      overflow: visible;

      .item {
        display: visible;
        margin-bottom: 35px;
      }
    }
  }

  .report-panel {
    margin-top: -50px;
    page-break-after: avoid;

    img {
      max-width: none !important;
    }

    .highlight.title {
      background-color: #66c6ba !important;
      -webkit-print-color-adjust: exact;
    }

    .hightlight.text {
      background-color: red !important;
      -webkit-print-color-adjust: exact;
    }

    #campaign-profile.preview {
      margin-top: 0;
      padding-top: 10px;
    }

    .highlight {
      margin-top: 0;
    }

    .campaign-overview {
      margin-bottom: 0;

      .col-sm-pull-5 {
        right: 0;
      }

      .col-sm-push-7 {
        left: 0;
      }

      .campaign-info {
        width: 50%;
        float: left;
      }

      .campaign-image {
        width: 50%;
        float: right;
        overflow: hidden;
      }
    }

    .campaign-data {
      page-break-after: always;

      .slides-container .item {

      }

      .highcharts-button {
        display: none;
      }

      #map-viz {
        max-height: 220px;
        width: 100%;
      }
    }
  }

  .item {
    &:last-child {
      page-break-after: avoid;
    }

    .viz-container {
      text-align: center;
    }
  }

  .viz-panel #graph-viz .viz-container {
    height: auto;

    &.text, &.image {
      max-height: none;
    }

    img {
      -webkit-print-color-adjust: exact;
    }
  }



  #header {
    height: 45px;
    .navbar-header {
      padding-top: 0;
    }

    nav {
      display: none;
    }
  }
}