@media print {

  -webkit-print-color-adjust: exact;

  @page {
    margin: 0;
  }
  
  a:link:after {
    content: "";
  }

  a[href]:after {
    content: none !important;
  }

  .title.section-title {
    display: none;
  }

  body {
    margin: 0;
    height: 99%;
  }

  * {
    page-break-after: avoid;
  }

  #campaign-progress-container, ul.campaign-nav, .viz-panel,
  .share-bar, .campaign-title, .report-options, .campaign-outreach, .filters {
    display: none;
  }

  .report-panel .campaign-title {
    display: block;
  }

  .campaign-data #graph-viz {
    overflow: visible;
    height: auto;
    text-align: center;

    #report-graph-container {

      .item {
        display: visible;
        visibility: visible;
        margin-bottom: 10px;
        padding-bottom: 10px;
        page-break-inside: avoid;
      }

      .viz-container {
        height: 200px;    
      }
    }
  }

  .report-panel {
    margin-top: -50px;

    #campaign-profile.preview {
      margin-top: 0;
      padding-top: 10px;
    }

    .highlight {
      margin-top: 0;
      padding-top: 0;
    }

    .campaign-overview {
      margin-bottom: 0;

      .col-sm-pull-5 {
        right: 0;
      }

      .col-sm-push-7 {
        left: 0;
      }

      .campaign-info {
        width: 50%;
        float: left;
      }

      .campaign-image {
        width: 50%;
        float: right;
        overflow: hidden;
      }
    }

    .campaign-data {
      page-break-after: always;

      .highcharts-button {
        display: none;
      }

      #map-viz {
        max-height: 220px;
        width: 100%;
      }
    }
  }

  #header {
    height: 45px;
    .navbar-header {
      padding-top: 0;
    }

    nav {
      display: none;
    }
  }
}