.viz-panel, .report-panel {
  margin: 0;
}

.viz-panel {
  margin-top: -10px;
  height: 590px;

  .tab-pane, #viz-tabs {
    height: 590px;
    overflow: hidden;
  }

  .featured-viz {
    padding: 0;

    #map-viz {
      width: 100%;
      // background-image: image-url("map-placeholder.jpg");

      .leaflet-container img {
        width: 100%;
        height: auto;
      }
    }

    #graph-viz {
      padding: 20px 100px;
      border-top: 10px solid $light-grey;
      border-bottom: 10px solid $light-grey;

      img {
        width: 100%;
        height: auto;
        vertical-align: center;
        display: inline-block;
      }
    }

    #image-viz {
      width: 100%;
      padding-left: 5px;
      background: $light-grey;
      overflow: scroll;

      .item {
        height: 260px;
        width: auto;
        margin: 0 5px 5px 0;
      }
    }
  }

  #viz-tabs {
    padding: 5px 0 40px 0;

    .viz {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      margin-top: 40px; 
      position: relative; 

      .legend {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        margin: 0;
        padding: 10px 0;
        color: $dark-grey;
      }
    }

    a.active .legend {
      color: $turquoise;
    }
  }

  iframe {
    border: none;
  }
}

.map {
  background: image-url("map.png") center center;
  background-size: cover;
}

.image {
  background: image-url("campaign-image2.jpg") center center;
  background-size: cover;
}

.graph {
  background: image-url("data-graph-2.jpg") center bottom;
  background-size: cover;
}

.report-panel {
  padding-top: 30px;
}

.data-report {
  background: white;
  color: black;
  text-align: left;

  .header {
    height: 30px;
    background: $turquoise;
    margin-bottom: 20px;
  }

  .footer {
    height: 10px;
    background: $turquoise;
    margin-top: 20px;
  }

  .title {
    font-weight: 600;
  }

  .description {
    width: 75%;
    float: left;
    min-height: 75px;
  }

  label {
    margin-bottom: 0;
  }

  .logo {
    width: 25%;
    float: right;
    text-align: right;

    img {
      width: 50px;
      height: auto;
    }

  }

  .report-image {
    display: block;

    .map {
      width: 48%;
      height: 100px;
      margin-bottom: 10px;
      float: left;
    }

    .image {
      width: 48%;
      height: 100px;
      float: right;
    }
  }

  .report-graph {
    clear: both;
    background: image-url("data-graph-3.png") center top;
    height: 50px;
    background-size: cover;
    margin-bottom: 15px; 
  }
}

@media (max-width: 992px) {
  .viz-panel {
    height: auto;

    #graph-viz {
      img.small {
        width: 40% !important;
      }
    }

    #viz-tabs {
      padding: 0;
      display: block;
      height: auto;

      .viz {
        display: inline-block;
        margin: 40px 20px !important;
      }
    }
  }
}