.ajax-loading {
  text-align: center;
  margin: 0 auto;
  max-width: 120px;
  padding-top: 40px;
}


.viz-panel {
  margin-top: 10px;
  overflow: hidden;
  max-height: 480px;

  .tab-pane {
    padding-top: 50px;
  }

  .filters {
    padding: 10px 60px;
    overflow: hidden;
    border-bottom: 2px solid $yellow;
    background: whitesmoke;
    text-align: right;

    .unpad {
      padding: 8px 5px;
    }

    .name, .read-out {
      color: black;
      padding: 0;
    }

    .read-out {
      font-size: .8em;
      font-weight: 100;
      text-align: right;
    }

    .header {
      float: right;

      .control {
        margin: 8px;
      }
    }

    .content {
      padding: 5px 0;
      clear: both;
      text-align: left;
    }
  }

  .tab-pane, .nav-tabs  {
    height: 480px;
  }
  
  .gallery-image.placeholder {
    background: url("placeholder.jpg") center center;
    background-size: cover;
  }

  .featured-viz {
    padding: 0;
  }

  #map-viz {
    width: 100%;

    .leaflet-container img {
      width: 100%;
      height: auto;
    }

    .map-info-window-image{
      float: left; 
      img {
        max-width: 300px;
        max-height: 200px;
      }
    }

    .map-info-window-table{
      max-height: 300px;
      overflow: auto;

      td {
        padding: 0px 10px;
      }

      .table-lable{
        padding-top: 10px;
        max-width: 350px;
        font-weight: bold;
      }
    }
  }

  #graph-viz {
    overflow-y: scroll;
    padding: 50px 20px 20px 30px;

    #graph-placeholder {
      display: none;
      text-align: center;
      width: 75%;
      margin: 0 auto;

      #graph-images {
        margin-top: 50px;
      }
    }

    img {
      width: 30%;
      height: auto;
      vertical-align: center;
      display: inline-block;
    }

    #graph-container {
      padding: 10px 30px;

      .item {
        background: white;
        border-radius: 4px;
        padding: 20px 40px 30px 20px;
        overflow: hidden;
        margin-bottom: 15px;

        .title {
          margin: 10px 60px 0px 60px;
          font-size: 20px;
        }
      }

      .map-placeholder {
        background-image: url("map-placeholder.png");
        background-size: cover;
        padding: 60px 40px;
        color: $turquoise;
        font-size: 24px;
        font-weight: 100;
      }
    }

    .graph-square {
      padding: 0 20px;
    }

    .viz-container {
      margin-top: 30px;
      text-align: center;
      height: 220px;
      width

      &.text {
        padding: 0 100px 20px 100px;
        max-height: 150px;
        overflow: scroll;
      }

      &.image {
        max-height: 310px;
        overflow-y: scroll;
      }

      .gallery-image {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 3px 3px 0 0;
      }
    }

    .text-viz {
      padding: 0 5px;
      margin: 0 0 5px 0;
    }
  }

  #image-viz {
    width: 100%;
    padding: 15px 15px 15px 25px;
    overflow: scroll;

    .gallery-image {
      display: inline-block;
      width: 200px;
      height: 200px;
      margin: 5px;
    }

    #image-placeholder {
      text-align: center;
      width: 75%;
      padding-top: 80px;
      margin: 0 auto;
      color: $med-grey;

      img {
        width: 30%;
        height: auto;
        margin: 20px;
        opacity: .8;
      }
    }
  }

  iframe {
    border: none;
  }
}

#viz-tabs {
  background: white;
  padding: 0;

  .tab-square {
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .tab-square:hover { 
    background: whitesmoke;
  }

  a.active .tab-square {
    background: white;
  }
}

.nav-tabs {
  border-width: 0px;

  a.active {
    span {
      color: $yellow;
    }
  }

  .tab-icon {
    width: 90px;
    height: 90px;
    display: block;
    margin: 10px auto;
    background-size: cover;
  }

  #map-tab {
    .tab-icon {
      background-image: image-url("map-icon.png");
    }

    &.active .tab-icon {
      background-image: image-url("map-icon-hover.png");
    }
  }

  #graph-tab {
    .tab-icon {
      background-image: image-url("graphs-icon.png");
    }

    &.active .tab-icon {
      background-image: image-url("graphs-icon-hover.png");
    }
  }

  #image-tab {
    .tab-icon {
      background-image: image-url("photos-icon.png");
    }

    &.active .tab-icon {
      background-image: image-url("photos-icon-hover.png");
    }
  }
}

.data-report .image {
  background: image-url("campaign-image-3.jpg") center center;
  background-size: cover;
}

.report-panel {
  padding-top: 30px;
}

.report-options {
  list-style-type: none;
  margin-right: 40px;

  li {
    display: inline-block;
    margin-left: 15px;
  }
}

#report-graph-container {
  .carousel-inner > .item {
    visibility: hidden;
    display: block;
    margin: 0 auto;
    &.active {
      visibility: visible;
    }
  }
}

/*============================
  Media queries
==============================*/

@media (max-width: 992px) {

  .viz-panel {
    height: auto;

    .featured-viz #map-viz {
      .map-info-window-image{
        float: left; 
        img {
          max-width: 100px;
          max-height: 150px;
        }
      }

      .map-info-table .table-lable {
        max-width: 150px;
      }
    }

    #graph-viz {
      img.small {
        width: 40% !important;
      }

      .map-placeholder {
        background: url("map-placeholder.png");
        background: red;
      }
    }

    #viz-tabs {
      padding: 0;
      display: block;
      height: auto;

      a {
        display: inline-block;
        margin: 20px;
      } 

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .data-report {

    .report-image {
      .map, .image {
        width: 100%;
      }
    }
  }

  .share.right {
    float: none;
  }

  .highlight.title {
    font-size: 20px;
  }

  .highlight.text {
    font-size: 14px;
  }

  .nav-tabs {
    font-size: inherit;
  }

  .viz-panel #viz-tabs {
    font-size: 0;
    margin-right: -3px;

    a {
      width: 33%;
      margin: 0;
      display: inline-block;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 768px){
  .desktop-only {
    display: none;
  }

  .viz-panel {

    .tab-pane, .nav-tabs  {
      height: 320px;
    }

    #image-viz #image-placeholder{
      padding-top: 40px;
    }

    .nav-tabs .tab-icon {
      width: 70px;
      height: 70px;
    }

    h3 {
      font-size: 18px;
    }
  }

  .report-options {
    display: none;
  }
}