.ajax-loading {
  text-align: center;
  margin: 0 auto;
  max-width: 120px;
  padding-top: 40px;
}

.viz-panel {
  margin-top: 10px;
  height: 500px;

  .tab-pane, #viz-tabs {
    height: 500px;
    overflow: hidden;
  }

  .featured-viz {
    padding: 0;

    #map-viz {
      width: 100%;

      .leaflet-container img {
        width: 100%;
        height: auto;
      }

      .map-info-window-image{
        float: left; 
        img {
          max-width: 400px;
          max-height: 300px;
        }
      }

      .map-info-window-table{
        max-height: 300px;
        overflow: auto;

        td {
          padding: 0px 10px;
        }

        .table-lable{
          padding-top: 10px;
          max-width: 350px;
          font-weight: bold;
        }
      }
    }

    #graph-viz {
      border-top: 10px solid whitesmoke;
      border-bottom: 10px solid whitesmoke;
      overflow-y: scroll;
      padding: 20px 20px 20px 30px;

      #graph-placeholder {
        display: none;
        text-align: center;
        width: 75%;
        margin: 0 auto;

        #graph-images {
          margin-top: 50px;
        }
      }

      img {
        width: 30%;
        height: auto;
        vertical-align: center;
        display: inline-block;
      }

      #graph-container {
        padding: 10px 30px;

        .item {
          background: white;
          border-radius: 4px;
          padding: 20px 40px 30px 20px;
          overflow: hidden;
          margin-bottom: 15px;

          .title {
            margin: 10px 60px 0px 60px;
            font-size: 20px;
          }
        }

        .graph-square {
          height: 220px;
        }

        .map-placeholder {
          background-image: url("map-placeholder.png");
          background-size: cover;
          padding: 60px 40px;
          color: $turquoise;
          font-size: 24px;
          font-weight: 100;
        }
      }

      .graph-square {
        padding: 0 20px;
      }

      .viz-container {
        margin-top: 30px;
        text-align: center;

        &.text {
          padding: 0 100px 20px 100px;
          max-height: 150px;
          overflow: scroll;
        }

        .gallery-image {
          display: inline-block;
          width: 100px;
          height: 100px;
          margin: 3px;
        }
      }

      .text-viz {
        padding: 0 5px;
        margin: 0 0 5px 0;
      }
    }

    #image-viz {
      width: 100%;
      padding: 15px 15px 15px 25px;
      background: whitesmoke;
      overflow: scroll;

      .gallery-image {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 5px;
      }

      #image-placeholder {
        text-align: center;
        width: 75%;
        padding-top: 90px;
        margin: 0 auto;
        color: $med-grey;

        img {
          width: 30%;
          height: auto;
          margin: 20px;
          opacity: .8;
        }
      }
    }
  }

  #viz-tabs {
    padding: 5px 0 30px 0;

    .viz {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-top: 30px; 
      position: relative; 

      .legend {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        margin: 0;
        padding: 10px 0;
        color: $dark-grey;
      }
    }

    a.active .legend {
      color: $turquoise;
    }
  }

  iframe {
    border: none;
  }
}

.map {
  background: image-url("map.png") center center;
  background-size: cover;
}

.data-report .image, .nav-tabs .image {
  background: image-url("campaign-image-3.jpg") center center;
  background-size: cover;
}

.graph {
  background: image-url("data-graph-2.jpg") center bottom;
  background-size: cover;
}

.report-panel {
  padding-top: 30px;
}

.report-options {
  list-style-type: none;
  margin-right: 40px;

  li {
    display: inline-block;
    margin-left: 15px;
  }
}

.data-report {
  background: white;
  color: black;
  text-align: left;
  overflow: hidden;

  .header {
    height: 30px;
    background: $turquoise;
    margin-bottom: 20px;
  }

  .footer {
    height: 10px;
    background: $turquoise;
    margin-top: 20px;
  }

  .title {
    font-weight: 600;
    font-size: 26px;
    width: 90%;
  }

  .description {
    margin-top: 15px;
  }

  label {
    margin-bottom: 0;
  }

  .logo {
    width: 10%;
    float: right;
    text-align: right;

    img {
      width: 40px;
      height: auto;
      margin-top: 5px;
    }

  }

  .report-image {
    display: block;
    overflow: hidden;
    margin: 20px 0;

    .map, .image {
      width: 48%;
      height: 150px;
      margin-bottom: 10px;
      display: inline-block
    }
  }

  #report-graphs-container {
    margin: 0 auto;
    width: 80%;
  }

  .small {
    font-size: .8em;
  }
}

#report-image-container {
  overflow: scroll;

  img {
    width: 50%;
    height: auto;
    display: inline-block;
  }
}

/*============================
  Media queries
==============================*/

@media (max-width: 992px) {

  .viz-panel {
    height: auto;

    .featured-viz #map-viz {
      .map-info-window-image{
        float: left; 
        img {
          max-width: 100px;
          max-height: 150px;
        }
      }

      .map-info-table .table-lable {
        max-width: 150px;
      }
    }

    #graph-viz {
      img.small {
        width: 40% !important;
      }

      .map-placeholder {
        background: url("map-placeholder.png");
        background: red;
      }
    }

    #viz-tabs {
      padding: 0;
      display: block;
      height: auto;

      .viz {
        display: inline-block;
        margin: 40px 20px !important;
      }
    }
  }

  .data-report {

    .report-image {
      .map, .image {
        width: 100%;
      }
    }
  }
}