#workspace {
  margin: 0 300px 40px 0;
  padding: 0 60px 20px 60px;
  position: relative;

  .input.selected {
    border-left: 5px solid $pink;
  }

  ol#input-list {
    padding: 0  0 92px 25px;
  }
}

#tool-palette .tool-button, .tool-button.drag-insert {
  background: $turquoise;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 15px;

  .glyphicon {
    margin-right: 5px;
  }
}

.title {
  font-weight: 100;
}

#sidebar {
  background: $light-grey;
  color: $darkest-grey;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 20;

  #sidebar-header {
    background: $yellow;
    height: 80px;
    padding: 20px;
    text-align: center;
    color: white;
  }

  #tool-palette {
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    font-weight: 100;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .tool-button, .add-question {
      color: white;

      &:hover {
        color: $light-grey;
      }
    }
  }

  #preview {
    margin-top: 20px;
    text-align: center;
  }

  .preview-container {
    margin-bottom: 10px;
  }

  .preview-arrow {
    position: absolute;
    width: 40px;
    height: 200px;
    right: 245px;
    top: 270px;
  }
}

.controls {
  float: right;
  padding: 20px 0;
}

#survey-title {
  margin: 10px 0;
  padding: 10px 0;
  height: 40px;
}

#survey-body {
  background: $light-grey;
  min-height: 160px;
  padding: 20px;
  position: relative;
  text-align: left;
  width: 100%;

  table {
    width: 85%;

    th {
      color: grey;
      font-weight: normal;
      vertical-align: top;
      width: 130px;

      &.tall {
        height: 55px;
      }
    }

    td {
      vertical-align: top;
    }
  }

  .input, .input-drop-area {
    border-radius: 5px;
    margin: 10px 0;
    min-height: 100px;
  }

  .input-drop-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 45px;
    border: 2px dotted $med-grey;
    margin-bottom: 0;
    display: none;

    &.highlightedArea {
      background: $med-grey;
    }
  }

  .input {
    background: white;
    border: 1px solid #eee;
    padding: 20px; 
    position: relative;

    p.label-text {
      margin-right: 150px;
    }

    &.invalid {
      border-left: 5px solid $error;

      &:before {
        font-family: 'FontAwesome';
        content: '\f071';
        font-size: 1em;
        padding: 10px 25px;
        position: absolute;
        top: 50px;
        left: -52px;
        color: $error;
      }
    }
      
    .form-control {
      margin-bottom: 5px;

      &.short {
        width: 200px;
      }
    }

    .modify {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 5;
    }

    .example {
      color: $med-grey;
      min-height: 30px;

      p {
        margin: 0;
      }

      span {
        font-size: 1.2em;
      }
    }

    label {
      font-weight: normal;
    }

    .example.padded {
      padding: 5px 0 0 5px;
    }

    .options {
      p {
          margin-bottom: 0;
      }
      
      .option {

        &.edit {
          background: whitesmoke;
          cursor: move;
          margin: 5px 0;
          padding: 5px;
          width: 100%;
          min-width: 315px;

          .move {
            padding: 10px 0 0 15px;
            color: $med-grey;
          }
        }

        .delete-option {
          cursor: pointer;
        }  
      }

      input {
        margin: 5px;
      }

      .dummy-input {
        margin: 5px;
        min-width: 204px;
        display: inline-block;
      }

      .phantom-option {
        margin: 10px 0 10px 5px;
        color: grey;
        display: inline-block;
      }
    }

    .answer {
      position: relative;
    }
  }
}

// Media Queries
@media (max-width: 1024px) {
  #workspace {
    .input {
      table {
        clear: both;
        width: 100%;
        margin-top: 25px;
      }

      .modify {
        right: 10px;
      }
    }
  }

}