
.input .reorder {
  display: none;
}

#workspace {
  margin: 0 300px 40px 0;
  padding: 0 60px 20px 60px;
  position: relative;

  .input.selected {
    border-left: 5px solid $pink;
    padding-bottom: 55px;
  }

  #input-list {
    padding: 0 0 0 25px;
  }

  #survey-body {
    margin-top: 20px;

    .reorder {
      display: block;
    }
  }
}

#tool-palette .tool-button, .tool-button.drag-insert {
  background: $turquoise;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 15px;

  span {
    margin-right: 5px;
  }
}

.title {
  font-weight: 100;
}

#sidebar {
  background: $light-grey;
  color: $darkest-grey;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 20;

  #sidebar-header {
    background: $yellow;
    height: 80px;
    padding: 20px;
    text-align: center;
    color: white;
  }

  #tool-palette {
    margin: 40px auto;
    width: 210px;
    font-weight: 100;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .tool-button, .add-question {
      color: white;

      &:hover {
        color: $light-grey;
      }
    }
  }

  #preview {
    margin-top: 40px;
    text-align: center;
  }

  .preview-container {
    margin-bottom: 10px;
  }
}

.controls {
  float: right;
  padding: 20px 0;
}

#survey-title {
  margin: 10px 0;
  padding: 10px 0;
  height: 40px;
}

#survey-body {
  background: $light-grey;
  min-height: 160px;
  padding: 20px;
  position: relative;
  text-align: left;
  width: 100%;

  table {
    width: 85%;

    th {
      color: grey;
      font-weight: normal;
      vertical-align: top;
      width: 130px;

      &.tall {
        height: 55px;
      }
    }

    td {
      vertical-align: top;
    }
  }

  .input, .input-drop-area {
    border-radius: 5px;
    margin: 10px 0;
    min-height: 100px;
  }

  .input-drop-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 45px;
    border: 2px dotted $med-grey;
    margin-bottom: 0;
    display: none;
  }

  .input {
    background: white;
    border: 1px solid #eee;
    padding: 20px; 
    position: relative;

    .row {
      margin-bottom: 10px;
    }

    .question-label {
      margin-top: 20px;
    }

    p.label-text {
      margin-right: 150px;
      z-index: 1;
    }

    &.invalid {
      border-left: 5px solid $error;

      &:before {
        font-family: 'FontAwesome';
        content: '\f071';
        font-size: 1em;
        padding: 10px 25px;
        position: absolute;
        bottom: 10px;
        left: -52px;
        color: $error;
      }
    }
      
    .form-control {
      margin-bottom: 5px;

      &.short {
        max-width: 300px;
      }
    }

    .modify {
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: 5;

      a {
        padding: 8px 10px;
      }

      i {
        font-size: 1.2em;

        &.fa-files-o {
          font-size: 1.1em;
        }
      }

      .glyphicon-trash {
        font-size: 1em;
      }
    }

    .reorder {
      color: $med-grey;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 30px 30px 30px;
      text-align: right;
      cursor: move;
      width: 30%;
      z-index: 5;
    }

    .example {
      color: $med-grey;
      min-height: 30px;
      margin-bottom: 10px;

      p {
        margin: 0;
      }

      i {
        font-size: 1.2em;
      }

      &.padded {
        padding: 5px 0 0 5px;
      }
    }

    label {
      font-weight: normal;
    }

    .example-type {
      padding-left: 25px;
    }

    .options {
      p {
          margin-bottom: 0;
      }
      
      .option {

        &.edit {
          background: whitesmoke;
          cursor: move;
          margin: 5px 0;
          padding: 5px;
          width: 100%;
          min-width: 315px;

          .move {
            padding: 2px 0 0 15px;
            color: $med-grey;
          }

          i, span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin-top: -5px;
          }
        }

        .delete-option {
          cursor: pointer;
        }  
      }

      input, select {
        margin: 5px;
        width: 60%;
      }

      select {
        margin-left: 40px;
      }

      .dummy-input {
        margin: 5px;
        display: inline-block;
        width: 60%;
        height: 32px;
      }

      .phantom-option {
        margin: 5px 0;
        padding: 5px;
        color: grey;
        display: block;
      }
    }

    .answer {
      position: relative;
    }
  }

  #on-canvas-controls {
    text-align: center;
    margin: 35px 0 20px 0;

    .tool-button {
      color: $turquoise;
      padding: 12px 22px;
    }
  }

  .jump-to-expand {
    position: absolute;
    right: 15px;
    top: 24px;
    color: $med-grey;
  }

  .jump-to-expand, .jump-to {
    &.active {
      color: #5bc0de;
    }
  }

  .jump-to-content {
    font-size: .9em !important;
    padding-top: 10px;
    display: none;
    border-radius: 8px;
    padding-bottom: 5px;
    background: #e7e7e7;
  }

  .jump {
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
  }
}

.far {
  font-size: .8em;
}



/*===========================================
  Media queries
=============================================*/

@media (max-width: 1024px) {
  #workspace {
    .input {
      table {
        clear: both;
        width: 100%;
        margin-top: 25px;
      }

      .modify {
        right: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  #workspace #survey-body .input {
    .label-text {
      margin-bottom: 5px;
    }

    p.label-text {
      margin: 30px 0 0 0;
    }

    .question-label {
      margin-top: 0;
    }

    .options .option {
      min-width: 0;

      input, .dummy-input {
        width: 70%;
      }

      &.edit {
        .move {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #workspace {
    margin: 0;
    padding: 0;

    .campaign-title {
      margin-left: 20px;
      margin-top: 20px;
    }

    #input-list {
      padding: 0 0 5px 10px;
    }

    #sidebar {
      display: none;
    }

    .controls {
      text-align: center;
      float: none;
    }
  }
}