#full-size-preview .input-preview {
  width: 270px;
  height: 525px;
  padding: 120px 40px 40px 40px;
  font-size: 13px;
}

.input-preview {
  width: 160px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 12px;
  color: black !important;
  text-align: left;
  background: image-url("pt-input-preview.png") no-repeat center;
  background-size: 100%;
  padding-top: 32px;

  .preview-contents {
    height: 190px;
    padding: 0 10px;

    .header {
      height: 25px;
      padding-top: 5px;
      background: $dark-grey;
      color: white;
      font-size: 9px;
      margin-bottom: 5px;

      img {
        height: 15px;
        margin: 0 4px 0 6px;
        display: inline-block;
        vertical-align: middle;
      }

      p {
        display: inline-block;
        vertical-align: middle;
        line-height: 15px;
        margin: 0;
      }
    }

    .input {
      padding: 10px 12px;
      height: 205px;
      overflow: scroll;

      .action-button {
        background: $turquoise;
        text-align: center;
        border-radius: 2px;
        padding: 5px;
        color: white;
        font-size: 10px;
      }

      p {
        line-height: 1.3;
        margin-bottom: 5px;
      }
    }
  }

  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  ul {
    padding-left: 0 !important;
  }

  li {
    font-size: .8em;
  }

}

.question-number {
  margin: 5px 0 3px 0;
}

.input-preview ul, ul.answer, .phantom-option {
  margin: 0;
  padding-left: 0;
  margin: 0;
  list-style: none;

  li {
    position: relative;
  }

  &.select1 {
    li:before, .li:before {
      font-family: 'FontAwesome';
      content: '\f10c';
      font-size: .9em;
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      padding: 0 10px;
    }
  }

  &.select {
    li:before, .li:before {
      font-family: 'FontAwesome';
      content: '\f096';
      font-size: .9em;
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}

.phantom-option {
  margin-left: 15px;
}

.input-preview ul li {
  margin-left: 15px;

  &:before {
    position: absolute;
    left: -5px;
    top: 0;
    padding: 0 !important;
  }
}

/*===========================================
  Media queries
=============================================*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  .input-preview {
    width: 160px;
    height: 300px;
    margin-bottom: 10px;

    .preview-contents {
      // margin: 70px 30px 40px 30px;
    }
  }
}