#test-campaign, #how-to-participate {
  .highlight {
    background: #f5be59;
    margin-left: -60px;
    padding-left: 60px;
  }
  
  .row.step {
    border-radius: 4px;
    margin: 0 0 10px 0;
    padding: 20px;
  }

  .step-icon {
    text-align: center;
  }

  .code, p {
    margin: 0;
  }

  .btn {
    margin-bottom: 5px;
  }

  #test-tabs {

    a {
      width: auto;
      background: whitesmoke;
      border-radius: 0;
      border-width: 0;
      display: inline-block;
      padding: 5px 20px;
      color: black;

      &.active {
        background: $yellow;
      }
    }
  }

  .tab-content {
    min-height: 500px;
  }

  #how-to-test {
    font-size: 1.2em;
    padding-top: 15px;
    
    i {
      font-size: 280%;
      color: $dark-grey;
    }
  }

  #view-data {
    margin-bottom: 40px;
  }

  .test-complete {
    padding-top: 50px;
    line-height: 1.5em;
  }
}

/*===========================================
  Media queries
=============================================*/

@media (max-width: 960px) {
  #test-campaign, #how-to-participate {
    .step-icon {
      text-align: left;
    }
  }
}
