/*===========================================
  User Show
=============================================*/

.devise-container {
  margin: 0 auto;
  margin-top: 40px;
  float: none;

  form {
    margin: 15px 0;

    input {
      margin: 15px 0;
    }
  }

  .title {
    font-weight: 200;
    font-size: 28px;
  }

  .btn {
    margin-top: 0px;
  }
}

.welcome {
  font-size: 18px;
  margin-top: 20px;
}

.user-icon {
  border-radius: 50%;
}

.image-preview {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
}
