<div class="center download-container">
  <h3 class="campaign-title "><%= t(".download_link") %>!</h3>
  <h5><%= t(".app_description") %></h5>

  <%= image_tag("mobile-app-preview-#{I18n.locale}.png", class: "preview") %>

  <a href="https://play.google.com/store/apps/details?id=com.ionicframework.monitorandoacidade" target="blank">
    <h3>Android</h3>
    <img alt="Get it on Google Play" src="/assets/google-play-badge-<%= I18n.locale %>.png" />
  </a>
  <a href="https://itunes.apple.com/app/mit-promise-tracker/id984055909?mt=8" target="blank">
    <h3>iPhone</h3>
    <img alt="Download from App Store" src="/assets/app-store-badge-<%= I18n.locale %>.png">
  </a>
  <br>
  <p class="pad-top">
    <%= link_to t(".older_android_versions"), asset_path("MonitorandoaCidade.apk") %>
  </p>
</div>