<div class="row get-started">
  <h1>Get Started</h1>
  <br>
  <div class="col-md-6">
    <%= link_to "Try out the form builder", new_form_path, class: "btn btn-info" %>
    </div>
  <div class="col-md-6">
    <%= link_to "Create an account", new_user_registration_path, class: "btn btn-info" %>
  </div>
</div>
