<div class="row get-started">
  <h1><%= t("home.index.welcome") %></h1>
  <br>
  <%= link_to t("home.index.try"), new_survey_path, class: "btn btn-info pad" %>
  <%= link_to t("home.index.create_account"), new_user_registration_path, class: "btn btn-info" %>
</div>
