<div class="row get-started">
  <h1 class="title"><%= t("home.index.welcome") %></h1>
  <br>
  <%= link_to t("home.index.create_account"), new_user_registration_path, class: "btn btn-info" %>
  <br>
  <%= image_tag("PT-icons.png") %>
</div>
