development:
  AGGREGATOR_URL: "http://localhost:9292/"
  AGGREGATOR_ACCESS_KEY: "your key here"

test:
  AGGREGATOR_URL: "http://localhost:9292/"
  AGGREGATOR_ACCESS_KEY: "your key here"

production:
  AGGREGATOR_URL: "http://survey-aggregator.com"
  AGGREGATOR_ACCESS_KEY: "your key here"