<div class="preview-container">
  <!-- ko if: PT.selectedInput -->
  <div class="input-preview" data-bind="css: PT.selectedInput().input_type">
    <p data-bind="text: PT.selectedInput().label"></p>
    <ul data-bind="foreach: PT.selectedInput().options, css: PT.selectedInput().input_type, visible: PT.selectedInput().input_type() === 'select' || PT.selectedInput().input_type() === 'select1'">
      <li data-bind="text: $data"></li>
    </ul>
  </div> 
  <!-- /ko -->
  <!-- ko ifnot: PT.selectedInput -->
  <div class="input-preview select center">
    <h4><%= t(".no_questions") %></h4>
    <p><%= t(".add_questions") %></p>
  </div> 
  <!-- /ko -->

  <p class="center question-number"><%= t(".question") %> <span data-bind="text: PT.survey.inputs.indexOf(PT.selectedInput()) + 1"></span> <%= t(".of") %> <span data-bind="text: PT.survey.inputs().length"></span></p>

  <div class="center">
    <div class="btn btn-warning arrow" data-direction="left">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

    <div class="btn btn-warning arrow" data-direction="right">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".arrow").on("click", PT.nextInput);
</script>