<div class="modal fade" id="new-survey-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".survey_title") %></h4>
      </div>
      <div class="modal-body">
        <input id="new-survey-title" class="form-control" data-bind="value: title" autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: saveName"><%= t("defaults.save") %></button>
      </div>
    </div>
  </div>
</div>