<div class="modal fade" id="new-survey-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".survey_title") %></h4>
      </div>
      <form data-bind="submit: saveName">
        <div class="modal-body">
          <input id="new-survey-title" class="form-control" data-bind="value: title" autofocus>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><%= t("defaults.save") %></button>
        </div>
      </form>
    </div>
  </div>
</div>