<ul>
  <li class="tool-button" rel="inputText">
    <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".question") %>
  </li>
  <li class="tool-button" rel="inputLocation">
    <span class="glyphicon glyphicon-globe"></span> <%= t(".location") %>
  </li>
  <li class="tool-button" rel="inputImage">
    <span class="glyphicon glyphicon-picture"></span> <%= t(".image") %>
  </li>
</ul>

<script type="text/javascript">
  $(".tooltip").tooltip({placement: "right", title: "Use this type of question when asking..."});
  
  $("#tool-palette .add-question").on("click", function(){ 
    $(".sublist").slideToggle();});
</script>