<h1>View all surveys</h1>

<%= link_to "Create new Survery", new_survey_path, class: "btn btn-default" %>

<% if @surveys %>
  <% @surveys.each do |survey| %>
    <h4><%= survey.title %></h4>
    <%= link_to "View survey", survey_path(survey) %>
  <% end %>
<% end %>
