<ul>
  <li class="addQuestion">
    <a class="expand">
      <span class="glyphicon glyphicon-plus-sign"></span> Question
    </a>
  </li>

    <!-- Question types sub-menu -->
    <ul class="sublist"> 
      <li>
        <a class="toolButton inputNumeric" rel="inputText">
          <span class="glyphicon glyphicon-plus-sign"></span> Text
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="toolButton inputNumeric" rel="inputNumber">
          <span class="glyphicon glyphicon-plus-sign"></span> Number
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="toolButton inputDate" rel="inputDate">
          <span class="glyphicon glyphicon-plus-sign"></span> Date
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="toolButton inputSelectOne" rel="inputSelectOne">
          <span class="glyphicon glyphicon-plus-sign"></span> Multiple choice
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="toolButton inputSelectMany" rel="inputSelectMany">
          <span class="glyphicon glyphicon-plus-sign"></span> Check boxes
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
    </ul>

  <li>
    <a class="toolButton inputLocation" rel="inputLocation">
      <span class="glyphicon glyphicon-globe"></span> Location
    </a>
  </li>
  <li>
    <a class="toolButton inputImage" rel="inputImage">
      <span class="glyphicon glyphicon-picture"></span> Image
    </a>
  </li>

</ul>