<ul>
  <li>
    <a class="toolButton inputText" rel="inputText">
      <span class="glyphicon glyphicon-plus-sign"></span> Add Text
    </a>
  </li>
  <li>
    <a class="toolButton inputNumeric" rel="inputNumber">
      <span class="glyphicon glyphicon-plus-sign"></span> Add Number
    </a>
  </li>
  <li>
    <a class="toolButton inputDate" rel="inputDate">
      <span class="glyphicon glyphicon-plus-sign"></span> Add Date
    </a>
  </li>
  <li>
    <a class="toolButton inputLocation" rel="inputLocation">
      <span class="glyphicon glyphicon-plus-sign"></span> Location
    </a>
  </li>
  <li>
    <a class="toolButton inputImage" rel="inputImage">
      <span class="glyphicon glyphicon-plus-sign"></span> Add Image
    </a>
  </li>
  <!-- <li>
    <a class="toolButton inputSelectOne" rel="inputSelectOne">
      <span class="glyphicon glyphicon-plus-sign"></span> Choose One
    </a>
  </li>
  <li>
    <a class="toolButton inputSelectMany" rel="inputSelectMany">
      <span class="glyphicon glyphicon-plus-sign"></span> Multiple choice
    </a>
  </li> -->
</ul>