<h1>View all surveys</h1>

<%= link_to "Create new Survery", new_form_path, class: "btn btn-default" %>

<% if @forms %>
  <% @forms.each do |form| %>
    <h4><%= form.title %></h4>
    <%= link_to "View form", form_path(form) %>
  <% end %>
<% end %>
