<div class="response-container-outer" class="{{id}}">
  <div class="response-container-inner">
    {{#each inputs}}
      <div id="{{id}}">
        <strong>{{label}}</strong>
        <p class="answer"></p>
      </div>
    {{/each}}
  </div>
</div>