<% if current_user && current_user.owns?(@campaign) %>
  <%= render partial: 'campaigns/progress_bar' %>

  <% if !@campaign.draft? %>
    <%= render partial: 'tabs' %>
  <% end %>
<% end %>

<% if action_name != 'edit' && action_name != 'goals_wizard' %>
  <div class="campaign-title section-container">
    <%= link_to @campaign.title, campaign_path(@campaign) %>
    <% if @campaign.status != "draft" %><span class="subtle small"> (<%= format_survey_code(@survey.code) %>)</span><% end %>
  </div>
<% end %>