<%= render partial: 'campaigns/progress_bar' %>
<div class="page-container">
  <%= link_to @campaign.title, campaign_path(@campaign), class: "campaign-title" %>
</div>
<%= render partial: 'campaigns/tabs' %>