<div class="button-group center clear">
  <div class="btn btn-info left-arrow">
    <%= t(".back") %> <span class="glyphicon glyphicon-chevron-left"></span>
  </div>

  <div class="btn btn-info right-arrow">
    <%= t(".next") %> <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</div>