<div class="button-group center clear">
  <hr>
  <div class="btn btn-info left-arrow left">
    <%= t(".back") %> <span class="glyphicon glyphicon-chevron-left"></span>
  </div>

  <div class="btn btn-info right-arrow right">
    <%= t(".next") %> <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</div>