<div class="button-group center clear">
  <div class="btn btn-info left-arrow">
    BACK <span class="glyphicon glyphicon-chevron-left"></span>
  </div>

  <div class="btn btn-info right-arrow">
    NEXT <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</div>