<li>  
  <%= link_to campaign.status, campaign_path(campaign), class: "btn status " + campaign.status %>
  <%= link_to campaign.title, campaign_path(campaign) %>
  <div class="right">
    <%= link_to campaign_path(campaign), class: "pad-side", method: :delete, data: { confirm: t(".confirm_delete") } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</li>