<div class="share-bar ">
  <span><%= t("defaults.share") %></span>
  <%= image_tag("social-fb.png", class: "social-share fb-share-button") %>
  <a class="tw-share-button" href="http://twitter.com/share?text=<%= t("defaults.share_text") %>" target="blank">
    <%= image_tag("social-tw.png", class: "social-share") %>
  </a>
</div>