<div class="modal fade" id="update-survey-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".modal_title") %></h4>
      </div>
      <div class="modal-body center">
        <h4><strong><%= t(".update_survey") %></strong></h4>
        <h4><%= t(".test_version_warning") %></h4>
        <%= image_tag("pt-update-survey-version.png") %>
        <h5><%= t(".how_to_update") %> <span class="glyphicon glyphicon-repeat"></span> <%= t(".in_the_list") %></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"><%= t("defaults.close") %></button>
      </div>
    </div>
  </div>
</div>