<div class="page-container">
  <% if current_user && current_user.owns?(@campaign) %>
    <div class="section-header">
      <h2 class="title sub-title inline"><%= t("Profile") %></h2>
      <div class="right">
        <%= link_to t("defaults.edit"), edit_campaign_profile_path(@campaign), class: "btn btn-info" %>
      </div>

      <% if !@campaign.draft %>
        <%= render partial: "tabs" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: "profile" %>

