<div class="section grey">
  <div class="section-container grey pad-top">
    <%= render partial: 'profile' %>
  </div>
</div>

<script type="text/javascript">
  // Facebook SDK
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '337756186420908',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // Facebook share handler
  $(document).on("click", ".fb-share-button", function(){
    FB.ui({
      method: 'share',
      href: '<%= request.original_url %>',
    }, function(response){
    });
  });

  // Fetch responses from aggregator
  <% if @campaign.status == "closed" %>
    PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){
      PT.renderGoogleMap(data, "report-map-container");
      PT.populateImages(PT.responses, "#report-image-container");
      PT.renderGraphs(PT.aggregate, "#slides-container");
    });
  <% end %>
</script>
