$dark-turquoise: #1b6d85;

.status {
  width: 100px;
  margin: 0 10px;

  &.draft {
    background: whitesmoke;
    color: grey;
    border: 1px solid grey;
  }

  &.active {
    background: #1abc9c;
    color: white;
    box-shadow: none;
  }

  &.closed {
    background: #CF5300;
    color: white;
  }
}

.new-campaign {
  margin-top: 20px;
}

.campaigns-list {
  list-style-type: none;
  padding: 20px 0 0 0;

  li {
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-bottom: 20px;
    background: whitesmoke;

    .campaign-name {
      vertical-align: middle;
      font-size: 20px;
    }

    .theme-icon {
      vertical-align: top;
      width: 40px;
      height: 40px;
      background-image: image-url('icon-other.png');
      background-repeat: no-repeat;
      background-size: 100%;
      margin-right: 10px;

      &.education {
        background-image: image-url('icon-education.png');
      }

      &.electricity {
        background-image: image-url('icon-electricity.png');
      }

      &.environment {
        background-image: image-url('icon-environment.png');
      }

      &.health {
        background-image: image-url('icon-health.png');
      }

      &.housing {
        background-image: image-url('icon-housing.png');
      }

      &.infrastructure {
        background-image: image-url('icon-infrastructure.png');
      }

      &.other {
        background-image: image-url('icon-other.png');
      }
    }
  }
}

// Campaign view

.campaign-nav {

  .btn {
    text-transform: uppercase;
    margin-right: 10px;
  }
}

.section-header {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

#campaign-goals {
  padding-right: 60px;
}

#campaign-survey {
  #survey-body .modify {
    display: none;
  }
}

.question-group {
  background: whitesmoke;
  padding: 20px;
  border-radius: 4px;
}

.new-form-button {
  width: 50%;
  max-width: 200px;
  white-space: normal;
  height: auto;
  padding: 20px;
  font-size: 16px;

  .glyphicon {
    font-size: 200%; 
    display: block;
    margin-bottom: 15px;
  }
}

// Campaign Editor

body.dark {
  background: #333;

  .container {
    color: white;
    padding: 0 40px 40px 40px;
  }
}

.edit-title-button {
  color: grey;
  // vertical-align: bottom;
  display: inline;
  margin: 0 10px;

  &:hover {
    color: whitesmoke;
    cursor: pointer;
  }
}

.campaign-title {
  color: $dark-turquoise;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}

h2.title {
  margin-top: 5px;
  display: block;
}

.tip-box {
  border-radius: 5px;
  background: $dark-turquoise;
  color: white;
  min-height: 40px;
  margin-top: 15px;
  padding: 15px;
  cursor: pointer;

  &:before {
    position: absolute;
    left: 5px;
    top: 25px;
    content: "\00a0";
    width: 10px;
    height: 15px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid $dark-turquoise;
  }

  .body {
    padding: 10px;
    display: none;
    font-weight: 200;
    border-top: 1px solid white;
    margin-top: 5px;
  }

  .header {
    padding: 0 10px;
    font-size: 14px;
  }
}

.top-save {
  margin: 45px 40px 0 0;
}

#campaign-goals-form.single-page {
  .form-group {
    margin-bottom: 35px;
  }
}

#campaign-goals-form, #campaign-launch-form {
  border-radius: 10px;
  color: black;
  background: white;
  padding: 40px;
  margin: 20px 0;

  label {
    font-size: 16px;
    display: block;
  }

  .explain {
    color: grey;
    font-size: 1.2em;
  }

  .form-page {
    display: none;
    min-height: 300px;
    position: relative;
    padding-bottom: 100px;

    .form-group {
      margin-bottom: 25px;
    }

    .button-group {
      position: absolute;
      width: 100%;
      bottom: 0px;

      .btn {
        margin: 0 100px;
        font-size: 18px;
      }
    }
  }

  #form-page-1 {
    display: block;

    .left-arrow {
      opacity: 0;
    }
  }
}