// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  width: 100px;
  margin: 0 10px;

  &.draft {
    background: whitesmoke;
    color: grey;
    border: 1px solid grey;
  }

  &.active {
    background: #1abc9c;
    color: white;
    box-shadow: none;
  }

  &.closed {
    background: #CF5300;
    color: white;
  }
}

.padded-list .right {
  padding-top: 5px;
}

// Campaign view

.section-header {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 30px;

  .btn {
    margin-top: 15px;
  }
}

#campaign-goals {
  padding-right: 60px;
}

#campaign-survey {
  #survey-body .modify {
    display: none;
  }
}

.question-group {
  background: whitesmoke;
  padding: 20px;
  border-radius: 4px;
}

// Campaign Editor
body.dark {
  background: #333;

  .container {
    color: white;
    padding: 40px;
  }
}

.edit-title-button {
  color: grey;
  vertical-align: bottom;
  display: inline;
  margin: 0 10px;

  &:hover {
    color: whitesmoke;
    cursor: pointer;
  }
}

.btn h1 {
  margin: 10px 20px;
  font-weight: normal;
}

.btn-title {
  background-color: #2490b0;
  border-color: #1b6d85;
  color: white;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 200;
  text-transform: uppercase;


  &:hover {
    color: white;
    cursor: default;
  }
}

#campaign-goals-form {
  border-radius: 10px;
  color: black;
  background: white;
  padding: 40px;
  margin: 20px 0;

  label {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .form-page {
    display: none;
    min-height: 300px;
    position: relative;

    .form-group {
      margin-bottom: 25px;
    }

    .button-group {
      position: absolute;
      width: 100%;
      bottom: 0px;

      .btn {
        margin: 0 100px;
      }
    }
  }

  #form-page-1 {
    display: block;

    .left-arrow {
      opacity: 0;
    }
  }
}