$light-grey: #e9eae8;
$med-grey: #b7b7b7;
$dark-grey: #5a5a5e;
$darkest-grey: #333333;

$turquoise: #66c6ba;
$dark-turquoise: #5fb2a6;

$pink: #ea7669;
$dark-pink: #c15d56;
$yellow: #f5be59;
$dark-yellow: #d19d4a;

$error: #B94A48;