
.devise {
  input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
}

.right-panel {
  width: 30%;
  float: right;
}