.get-started {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  .title {
    margin-top: 0;
  }

  h2 {
    font-weight: 200;
  }

  .btn {
    padding: 15px 20px;
    font-size: 16px;
  }

  img {
    width: 300px;
    height: auto;
    margin-top: 40px;
  }
}

@media (max-width: 760px) {

  .get-started {
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}