// Launch tabs

#campaign-launch-form {
  min-height: 400px;
  border: 1px solid grey;

  .title {
    font-weight: 200;
    margin-top: 0;
  }

  p {
    font-size: 18px;
  }
}

.error-check {
  width: 100%;
  border-radius: 4px;
  padding: 20px;

  &.invalid {
    background: red;
  }
}

.goals-container {
  padding: 0 30px;
}