$darkest-grey: #333333;
$turquoise: #5bc0de;
$dark-turquoise: #1b6d85;
$active: #1abc9c;

.activity-graph {
  width: 100%;
  height: 230px;
}

.status-bar {
  width: 100%;
  padding: 10px;
  text-align: right;
}

.campaign-info-box {
  width: 100%; 
  height: 230px;
  margin-top:  30px;
  padding-right: 20px;

  label {
    display: block;
  }

  h1 {
    margin-bottom: 0;
    font-size: 40px;
  }

  .graph-bar {
    height: 25px;
    clear: both;
    padding: 2px 10px;
    text-align: left;
    color: white;

    &.target {
      width: 100%;
      background: $dark-turquoise;
    }

    &.current {
      margin-right: 0;
      background: $active;
    }
  }  
}

.section-light {
  background: whitesmoke;
  height: auto;
  padding: 20px;
  text-align: center;
}

.section-dark {
  background: $darkest-grey;
  padding: 20px;
  text-align: center;
  color: white;
  overflow: hidden;
}

.campaign-outreach {
  padding: 0 0 20px 0;
}

.social-share {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.resource, a .resource {
  background: white;
  border-radius: 4px;
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 30px 10px 10px 10px;
  display: inline-block;
  text-align: center;
  color: black;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;

  &:hover {
    background-color: #eee;
  }

  i {
    font-size: 400%;
    display: block;
    margin-bottom: 15px;
  }
}