.input-preview {
  width: 180px;
  height: 350px;
  padding: 80px 30px 40px 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: black !important;
  text-align: left;

  p {
    max-height: 80px;
    overflow: hidden;
  }

  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &.string {
    background: image-url("text_input.png") no-repeat center;
    background-size: 100%;
  }

  &.decimal, &.int {
    background: image-url("number_input.png") no-repeat center;
    background-size: 100%;
  }

  &.binary {
    background: image-url("binary_input.png") no-repeat center;
    background-size: 100%;
  }

  &.date {
    background: image-url("date_input.png") no-repeat center;
    background-size: 100%;
  }

  &.geopoint {
    background: image-url("location_input.png") no-repeat center;
    background-size: 100%;
  }

  &.select, &.select1 {
    background: image-url("blank_input.png") no-repeat center;
    background-size: 100%;
  }

  ul {
    padding-left: 0 !important;
  }

  li {
    font-size: .8em;
  }

}

.input-preview ul, ul.answer, .phantom-option {
  margin: 0;
  padding-left: 15px;
  margin: 0;
  list-style: none;

  li {
    position: relative;
  }

  &.select1 {
    li:before {
      font-family: 'FontAwesome';
      content: '\f10c';
      font-size: .9em;
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      padding: 0 10px;
    }
  }

  &.select {
    li:before {
      font-family: 'FontAwesome';
      content: '\f096';
      font-size: .9em;
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}

.phantom-option {
  margin-left: 15px;
}

.input-preview ul li {
  margin-left: 15px;

  &:before {
    position: absolute;
    left: -5px;
    top: 0;
    padding: 0 !important;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  .input-preview {
    width: 160px;
    height: 320px;
    padding: 80px 30px 40px 30px;
  }

  #sidebar #preview {
    margin-top: 30px;
  }
}