.input-preview {
  width: 150px;
  height: 280px;
  padding: 110px 30px 40px 30px;
  margin: 0 auto;
  font-size: 12px;

  p {
    max-height: 70px;
    overflow: hidden;
  }

  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &.string {
    background: image-url("text_input.png") no-repeat center;
    background-size: 100%;
  }

  &.decimal, &.number {
    background: image-url("number_input.png") no-repeat center;
    background-size: 100%;
  }

  &.binary {
    background: image-url("binary_input.png") no-repeat center;
    background-size: 100%;
  }

  &.date {
    background: image-url("date_input.png") no-repeat center;
    background-size: 100%;
  }

  &.geopoint {
    background: image-url("location_input.png") no-repeat center;
    background-size: 100%;
  }

  &.select, &.select1 {
    background: image-url("blank_input.png") no-repeat center;
    background-size: 100%;
  }
}

.input-preview ul, ul.answer {
  margin: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  &.select1 {
    li:before {
      font-family: 'FontAwesome';
      content: '\f10c';
      font-size: 1.2em;
      font-weight: bold;
      vertical-align: middle;
      padding: 5px 10px;
    }
  }

  &.select {
    li:before {
      font-family: 'FontAwesome';
      content: '\f096';
      font-size: 1.2em;
      font-weight: bold;
      vertical-align: middle;
      padding: 5px 10px;
    }
  }
}