.status {
  width: 100px;
  margin: 0 10px;

  &.draft {
    background: whitesmoke;
    color: grey;
    border: 1px solid grey;
  }

  &.active {
    background: #1abc9c;
    color: white;
    box-shadow: none;
  }

  &.closed {
    background: #CF5300;
    color: white;
  }
}

.padded-list .right {
  padding-top: 5px;
}