.status {
  width: 75px;
  margin: 0 10px;

  &.editing {
    background: whitesmoke;
    color: grey;
    border: 1px solid grey;
  }

  &.active {
    background: #1abc9c;
    color: white;
    box-shadow: none;
  }

  &.closed {
    background: #CF5300;
    color: white;
  }
}