//User show

.padded-list {
  list-style-type: none;
  padding: 20px 0;

  li {
    padding: 10px;
    height: auto;
    overflow: hidden;
  }

  li:nth-child(odd) {
    background: whitesmoke;
  }
}
