<div id="header">
  <div class="container">
    <% if current_user %>
      <%= link_to "My surveys", user_path(current_user), class: "btn btn-info" %>
    <% end %>
    <ul class="user-links">
      <% if current_user %>
        <li><%= current_user.email %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %></li>
      <% end %>
    </ul>
  </div> 
</div>