<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app_name") %></title>
    <%= render partial: "layouts/include_links" %>
  </head>
  
  <body class="dark">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>